name: REvil Warp generator

on:
  push:
    branches: [ "main" ]
    paths:
      - 'warp.py'
  schedule: #every fuckin 60 minutes
    - cron: '0 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ipaddress
   
    - name: Lets go
      run: python warp.py
    - name: Commit changes with timestamp
      run: |          
          git config --global user.name "REvil"
          git config --global user.email "nirevil@proton.me"
          git config credential.helper store
          git add -A
          git diff --cached --quiet || git commit -m "ⅨⅣ SYNCED AT: $(TZ='Asia/Tehran' date '+%a, %d %b %y, %H:%M')"
          git push
          
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
